<div class="top">
    <h1 class="text-muted mt-5">Signin</h1>
    <h4  class="mt-2 alert alert-success" *ngIf="message">login successfully </h4>
    <h4  class="mt-2 alert alert-danger" *ngIf="error">{{error.error}}</h4>
<div>
  <form [formGroup]="signin" (ngSubmit)="onSubmit($event)" class="mt-5">
    <div class="form-group">
        <input formControlName="email" type="email" class="form-control" placeholder="Email">
        <span class=" text-danger"  *ngIf="signin.get('email').invalid && signin.get('email').touched">email is required and please provide a valid email</span>
    </div>
    <div class="form-group mt-3">
        <input formControlName="password" type="password" class="form-control" placeholder="Password">
        <span class=" text-danger"   *ngIf="!signin.get('password').valid && signin.get('password').touched">password is required and password length is minimum 5</span>
    </div>
     <button [disabled]="signin.invalid" type="submit" class="btn btn-warning btn-lg mt-2">Submit</button>
     <span class="text-muted ml-3">create a new account?<a routerLink="/signup"> signup</a></span><br/>
     <span class="mt-3 text-muted" *ngIf="signin.get('password').touched || signin.get('email').touched">please provide valid data to continue</span>
  </form> 
</div>
</div>

